@import "tailwindcss";

@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/Archivo-VariableFont_wdth\,wght.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
}
